jieba
markdown-callouts
markdown-exec
mkdocs
mkdocs-callouts
mkdocs-coverage
mkdocs-git-committers-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-material
mkdocs-rss-plugin
mkdocs-static-i18n
mkdocstrings
mkdocstrings[python]
python-markdown-math
