jieba
markdown-exec
mkdocs
mkdocs-git-committers-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-material
mkdocs-macros-plugin
mkdocs-rss-plugin
mkdocs-static-i18n
mkdocstrings
mkdocstrings[python]
python-markdown-math
