jieba
markdown-callouts
markdown-exec
markdown-gfm-admonition
mkdocs
mkdocs-awesome-pages-plugin
mkdocs-gen-files
mkdocs-git-committers-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-literate-nav
mkdocs-material
mkdocs-material-extensions-2
mkdocs-rss-plugin
mkdocs-section-index
mkdocs-static-i18n
mkdocstrings[python]
python-markdown-math
